@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat",'Courier New',"Playfair Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}
.logcon{
    height: 80%;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftlog{
    height: 80%;
    width: 55%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 100px;
}
.rightlog{
    height: 80%;
    width: 35%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    height: 75%;
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.loghead{
    font-size: 40px;
    font-weight: 300;
}
.glass {
  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(25px);  
  border-radius: 54px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.32);
}
.glassb {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);  
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
}
.tit{
    font-size: 60px;
    font-weight:350;
    margin-bottom: 10px;
}
.logtit{
    font-size: 45px;
    font-weight:300;
    margin-bottom: 20px;
}
.logmsg{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}
#userName{
    padding: 10px 20px;
    width: 70%;
}
#userName:focus{
    outline: none;
}
#signupEmail{
    padding: 10px 20px;
    width: 70%;
}
#signupEmail:focus{
    outline: none;
}
#signupPass{
    padding: 10px 20px;
    width: 70%;
}
#signupPass:focus{
    outline: none;
}
#signupConfirm{
    padding: 10px 20px;
    width: 70%;
}
#signupConfirm:focus{
    outline: none;
}
button{
    width: 40%;
    padding: 10px;
}
button:active{
    background: rgb(217, 217, 217);
}
span{
    text-decoration: underline;
    color: rgb(24, 24, 24);
    cursor: pointer;
}

